
<header class="headerCont">
  
  <img src="../../assets/img/dwa-logo.png" alt="logoApp">    
  <p class="title"> Angular Pokedex </p>
  
  <nav>
    <a [routerLink] = "['/home']" [routerLinkActive] = "['menuActive']"> Home </a>
    <a [routerLink] = "['/requests']" [routerLinkActive] = "['menuActive']" > Requests </a>
    <a [routerLink] = "['/list']" [routerLinkActive] = "['menuActive']" > List </a>
    <a [routerLink] = "['/pipes']" [routerLinkActive] = "['menuActive']" > Pipes </a>
  </nav>

</header>
