header.headerCont {
    background: black;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    img {
        display: inline-block;
        margin: 10px 25px 10px 25px;
        height: 60px;
    }
    p.title {
        color: white;
        display: inline-block;
        vertical-align: top;
        font-size: 27px;
        margin: 0;
        line-height: 78px;
    }

    nav {
        float: right;
        position: relative;
        z-index: 12;
        color: white;
        margin: 29px;
        a {
            color: #767676;
            margin-right: 10px;
            text-decoration: none;
            transition: color 0.3s linear; 
            &:hover {
                color: #A9A9A9; 
            }
            &:focus {
                outline: none;
            }
        }
        a.menuActive {
            color: #2E8ED5;
            font-weight: bold;
        }
    }
}